@media screen and (max-width: 768px) {
    html { font-size: 8px;}
    .section {
        width: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
    }
.card-name {
    grid-area: auto;
}
.bio {
    grid-area: auto;
}
.goals {
    grid-area: auto;
}
.dream {
    grid-area: auto;
}
.frustrations {
    grid-area: auto;
}
.personality {
    grid-area: auto;
}
.quote {
    grid-area: auto;
}
}

@media screen and (max-width: 470px) {
html {
    font-size: 8px;
}

.section {
    width: 250px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    height: auto;
}

.card-name {
    grid-area: auto;
}

.bio {
    grid-area: auto;
}

.goals {
    grid-area: auto;
}

.dream {
    grid-area: auto;
}

.frustrations {
    grid-area: auto;
}

.personality {
    grid-area: auto;
}

.quote {
    grid-area: auto;
}
}