html { font-size: 10px;
font-family: 'Work Sans';}
.section {
    width: 710px;
    height: 460px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 20px;
    padding: 3rem 4rem;
    background-color: #FFB084;
    grid-template-rows: auto;
    border-radius: 10px;   
    font-size: 14px;
    margin: auto;
    

}

.card {
    background-color: #FFFFFF;  
    transition: 400ms; 
    border-radius: 20px; 
    /* text-align: center; */
    
}
.card:hover {
    scale: 1.01;
}
.card-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    box-shadow: 7px 7px 0px #000000;
}
ul { 
    font-weight: 400;
    padding-left: 2rem;
    padding-right: 2rem;
}
h3 { margin-bottom: 1rem;}
.card-name>h1 {font-size: 24px; margin: 1.5rem; text-align: center;}
.padd {padding-left: 2.5rem; }
.short-bio {font-weight: 400; }
.short-bio span {font-weight: 600; }
.short-bio>div { margin: 1.5rem auto;}
.img { padding: 0; text-align: center;}
.bio {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 7px 7px 0px #000000;
}
.bio>h2 { padding: .5rem;}
.goals {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 7px 7px 0px #29A71E;
}
.dream {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    box-shadow: 7px 7px 0px #3675B0;
}
.frustrations {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4; 
    box-shadow: 7px 7px 0px #E13535;
}
.personality {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    box-shadow: 7px 7px 0px #000000;
}
.quote {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;    
    box-shadow: 7px 7px 0px #000000;    
    align-self: center;
    padding: 2.5rem;
    font-weight: 700;
}
.goals-h {
    color: #29A71E;
}
.frustrations-h {
    color: #E13535;
}
.dream-h {
    color: #3675B0;
}

@import url(./media.css);